@import "~common/stylus/variable"

.home
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    .slider-wrapper
        position: relative
        width: 100%
        overflow: hidden
    .home-content
        text-align: center
        font-size: $font-size-medium
        line-height: 2.5
        color: $color-dark
        padding: 10px
        margin-bottom: 10px
    .btn-wrapper
        margin: 0 auto
        width: 80%
