@import "~common/stylus/variable"

.top-tip
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 500
    background: $color-theme
    &.drop-enter-active, &.drop-leave-active
        transition: .3s
    &.drop-enter, &.drop-leave-to
        transform: translate3d(0, -100%, 0)
